[
  {
    "path": "/gui/tabLabel/value",
    "op": "replace",
    "source": "Overview",
    "value": "概述"
  },
  {
    "path": "/gui/xpLabel/value",
    "op": "replace",
    "source": "XP",
    "value": "XP"
  },
  {
    "path": "/gui/levelLabel/value",
    "op": "replace",
    "source": "Level 1",
    "value": "1级"
  },
  {
    "path": "/gui/windowtitle/title",
    "op": "replace",
    "source": "Mysterious Book",
    "value": "神秘书"
  },
  {
    "path": "/gui/windowtitle/subtitle",
    "op": "replace",
    "source": "^#b9b5b2;Use it to strengthen your character!",
    "value": "^#B9B5B2；用它来强化你的性格！"
  },
  {
    "path": "/gui/overviewlayout/children/xptglabel/value",
    "op": "replace",
    "source": "XP To Go",
    "value": "XP去"
  },
  {
    "path": "/gui/overviewlayout/children/xptotallabel/value",
    "op": "replace",
    "source": "Total XP",
    "value": "总XP"
  },
  {
    "path": "/gui/overviewlayout/children/levellabel/value",
    "op": "replace",
    "source": "Level 1",
    "value": "1级"
  },
  {
    "path": "/gui/overviewlayout/children/statpointsremaining/value",
    "op": "replace",
    "source": "Stat Points Remaining: 0",
    "value": "剩余统计点：0"
  },
  {
    "path": "/gui/overviewlayout/children/classtitle/value",
    "op": "replace",
    "source": "No Class",
    "value": "没有阶级"
  },
  {
    "path": "/gui/overviewlayout/children/spectitle/value",
    "op": "replace",
    "source": "No Specialization",
    "value": "没有专业化"
  },
  {
    "path": "/gui/overviewlayout/children/affinitytitle/value",
    "op": "replace",
    "source": "No Affinity",
    "value": "无亲和力"
  },
  {
    "path": "/gui/overviewlayout/children/hardcoreweapontext/value",
    "op": "replace",
    "source": "Classic Mode negates damage with certain weapons.\n^red;Check the Info Tab (I) for more information!^reset;",
    "value": "经典模式用某些武器抵消伤害。"
  },
  {
    "path": "/gui/overviewlayout/children/hardcoretitle/value",
    "op": "replace",
    "source": "Classic Mode",
    "value": "经典模式"
  },
  {
    "path": "/gui/overviewlayout/children/hardcoretoggletext/value",
    "op": "replace",
    "source": "Active",
    "value": "主动的"
  },
  {
    "path": "/gui/overviewlayout/children/hardcoretext/value",
    "op": "replace",
    "source": "-10%",
    "value": "- 10%"
  },
  {
    "path": "/gui/overviewlayout/children/rallymodetitle/value",
    "op": "replace",
    "source": "Rally Mode: enemies become stronger as you level up!",
    "value": "集合模式：当你提升时，敌人会变得更强！"
  },
  {
    "path": "/gui/overviewlayout/children/rallymodetext/value",
    "op": "replace",
    "source": "Multiple players using Rally Mode strengthens the effect.",
    "value": "多人使用拉力模式加强效果。"
  },
  {
    "path": "/gui/overviewlayout/children/rallymodeactive/value",
    "op": "replace",
    "source": "Active",
    "value": "主动的"
  },
  {
    "path": "/gui/overviewlayout/children/areyousure/value",
    "op": "replace",
    "source": "Are you sure you want to reset? Your Experience, Level, Class, Profession, Affinity, and Mastery will be removed. In addition, your Mastery Challenges will be forfeited, and your current Class' Skills will be removed.\nSpecializations remain unlocked, but are unusable until Level 35.",
    "value": "是否确实要重置？你的经验、水平、阶级、职业、亲和力和专长将被删除。此外，您的精通挑战将被取消，您当前的班级技能将被删除。"
  },
  {
    "path": "/gui/statslayout/children/strengthtext/value",
    "op": "replace",
    "source": "Strength",
    "value": "强度"
  },
  {
    "path": "/gui/statslayout/children/agilitytext/value",
    "op": "replace",
    "source": "Agility",
    "value": "敏捷性"
  },
  {
    "path": "/gui/statslayout/children/vitalitytext/value",
    "op": "replace",
    "source": "Vitality",
    "value": "活力"
  },
  {
    "path": "/gui/statslayout/children/vigortext/value",
    "op": "replace",
    "source": "Vigor",
    "value": "活力"
  },
  {
    "path": "/gui/statslayout/children/intelligencetext/value",
    "op": "replace",
    "source": "Intelligence",
    "value": "智力"
  },
  {
    "path": "/gui/statslayout/children/endurancetext/value",
    "op": "replace",
    "source": "Endurance",
    "value": "耐力"
  },
  {
    "path": "/gui/statslayout/children/dexteritytext/value",
    "op": "replace",
    "source": "Dexterity",
    "value": "灵巧性"
  },
  {
    "path": "/gui/statslayout/children/statdescription/value",
    "op": "replace",
    "source": "Click a stat's icon to see what occurs\nwhen that stat is raised.",
    "value": "单击统计图标查看发生的情况"
  },
  {
    "path": "/gui/statslayout/children/statprevention/value",
    "op": "replace",
    "source": "You must choose a Class before you can raise stats!",
    "value": "你必须选择一个类才能提高统计！"
  },
  {
    "path": "/gui/statslayout/children/strengthamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/agilityamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/vitalityamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/vigoramount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/intelligenceamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/enduranceamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/dexterityamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/statpointslefttext/value",
    "op": "replace",
    "source": "Stat Points Remaining",
    "value": "剩余统计点"
  },
  {
    "path": "/gui/statslayout/children/statpointsleft/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/statslayout/children/totalstatstext/value",
    "op": "replace",
    "source": "Total",
    "value": "合计"
  },
  {
    "path": "/gui/statslayout/children/totalstatsamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/classeslayout/children/classdescription/value",
    "op": "replace",
    "source": "Click a Class' icon to see how that Class plays.",
    "value": "单击某个类的图标查看该类的播放方式。"
  },
  {
    "path": "/gui/classeslayout/children/knighttitle/value",
    "op": "replace",
    "source": "Knight",
    "value": "骑士"
  },
  {
    "path": "/gui/classeslayout/children/wizardtitle/value",
    "op": "replace",
    "source": "Wizard",
    "value": "巫师"
  },
  {
    "path": "/gui/classeslayout/children/ninjatitle/value",
    "op": "replace",
    "source": "Ninja",
    "value": "忍者"
  },
  {
    "path": "/gui/classeslayout/children/soldiertitle/value",
    "op": "replace",
    "source": "Soldier",
    "value": "士兵"
  },
  {
    "path": "/gui/classeslayout/children/roguetitle/value",
    "op": "replace",
    "source": "Rogue",
    "value": "流氓"
  },
  {
    "path": "/gui/classeslayout/children/explorertitle/value",
    "op": "replace",
    "source": "Explorer",
    "value": "探险家"
  },
  {
    "path": "/gui/classlayout/children/classtitle/value",
    "op": "replace",
    "source": "No Class Yet",
    "value": "还没有课"
  },
  {
    "path": "/gui/classlayout/children/weapontitle/value",
    "op": "replace",
    "source": "Weapon Bonus:",
    "value": "武器奖励："
  },
  {
    "path": "/gui/classlayout/children/weapontext/value",
    "op": "replace",
    "source": "+20% with how did you get here.",
    "value": "+你是怎么到这里的？"
  },
  {
    "path": "/gui/classlayout/children/passivetitle/value",
    "op": "replace",
    "source": "Passive Bonus:",
    "value": "被动奖金："
  },
  {
    "path": "/gui/classlayout/children/passivetext/value",
    "op": "replace",
    "source": "+20% with the what 'an who now?",
    "value": "+20%现在是谁？"
  },
  {
    "path": "/gui/classlayout/children/effecttext/value",
    "op": "replace",
    "source": "+20% with the stop screwing around!",
    "value": "+20%停止旋转！"
  },
  {
    "path": "/gui/classlayout/children/statscalingtitle/value",
    "op": "replace",
    "source": "Stat Scaling",
    "value": "统计缩放"
  },
  {
    "path": "/gui/classlayout/children/statscalingtext/value",
    "op": "replace",
    "source": "Stat Scaling",
    "value": "统计缩放"
  },
  {
    "path": "/gui/classlayout/children/classweapontitle/value",
    "op": "replace",
    "source": "Class Weapon",
    "value": "类武器"
  },
  {
    "path": "/gui/classlayout/children/weaponreqlvl/value",
    "op": "replace",
    "source": "Required Level:",
    "value": "要求级别："
  },
  {
    "path": "/gui/classlayout/children/classweapontext/value",
    "op": "replace",
    "source": "...",
    "value": "…"
  },
  {
    "path": "/gui/classlayout/children/techtitle/value",
    "op": "replace",
    "source": "Skills",
    "value": "技能"
  },
  {
    "path": "/gui/classlayout/children/techname/value",
    "op": "replace",
    "source": "Skill Name",
    "value": "技能名称"
  },
  {
    "path": "/gui/classlayout/children/techtype/value",
    "op": "replace",
    "source": "Tech Type",
    "value": "技术型"
  },
  {
    "path": "/gui/classlayout/children/techtext/value",
    "op": "replace",
    "source": "Select a skill to read about it and unlock it if possible.",
    "value": "选择要阅读的技能，如果可能，将其解锁。"
  },
  {
    "path": "/gui/classlayout/children/unlockedtext/value",
    "op": "replace",
    "source": "Unlocked! Go to the Tech Station to equip it!",
    "value": "解锁！去技术站装备它！"
  },
  {
    "path": "/gui/classlayout/children/reqlvl/value",
    "op": "replace",
    "source": "Req. Level:",
    "value": "Req水平："
  },
  {
    "path": "/gui/classlayout/children/toggleclassabilitytitle/value",
    "op": "replace",
    "source": "Border/Light",
    "value": "边界/光"
  },
  {
    "path": "/gui/classlayout/children/classabilitytoggletext/value",
    "op": "replace",
    "source": "Active",
    "value": "主动的"
  },
  {
    "path": "/gui/classlayout/children/areyousure/value",
    "op": "replace",
    "source": "Are you sure you want to reset? This will reset your Class and unlocked Class Techs (This will also remove the stats gained from choosing a class).",
    "value": "是否确实要重置？这将重置你的类并解锁类技术（这也将删除从选择类中获得的统计信息）。"
  },
  {
    "path": "/gui/affinitylockedlayout/children/locked/value",
    "op": "replace",
    "source": "Locked until Level 25!",
    "value": "锁定到25级！"
  },
  {
    "path": "/gui/affinitieslayout/children/affinitydescription/value",
    "op": "replace",
    "source": "Click an Affinity's icon to see how that Affinity plays.",
    "value": "单击关联的图标以查看关联如何发挥作用。"
  },
  {
    "path": "/gui/affinitieslayout/children/firetitle/value",
    "op": "replace",
    "source": "Flame",
    "value": "火焰"
  },
  {
    "path": "/gui/affinitieslayout/children/icetitle/value",
    "op": "replace",
    "source": "Frost",
    "value": "霜冻"
  },
  {
    "path": "/gui/affinitieslayout/children/electrictitle/value",
    "op": "replace",
    "source": "Shock",
    "value": "休克"
  },
  {
    "path": "/gui/affinitieslayout/children/poisontitle/value",
    "op": "replace",
    "source": "Venom",
    "value": "毒液"
  },
  {
    "path": "/gui/affinitylayout/children/affinitytitle/value",
    "op": "replace",
    "source": "No Affinity Yet",
    "value": "没有亲和力"
  },
  {
    "path": "/gui/affinitylayout/children/passivetitle/value",
    "op": "replace",
    "source": "Passive Bonus:",
    "value": "被动奖金："
  },
  {
    "path": "/gui/affinitylayout/children/passivetext/value",
    "op": "replace",
    "source": "+20% with the what 'an who now?",
    "value": "+20%现在是谁？"
  },
  {
    "path": "/gui/affinitylayout/children/effecttext/value",
    "op": "replace",
    "source": "Upgrade your Affinity by using their respective Upgrade Scroll! Fight Guardians that control your affinity for a chance to get one! Required Level: 45!",
    "value": "使用各自的升级滚动条升级您的亲和力！与控制你的亲缘关系的守护者战斗以获得一个机会！要求等级：45！"
  },
  {
    "path": "/gui/affinitylayout/children/immunitytitle/value",
    "op": "replace",
    "source": "Immunities",
    "value": "豁免权"
  },
  {
    "path": "/gui/affinitylayout/children/immunitytext/value",
    "op": "replace",
    "source": "Stat Bonus",
    "value": "统计奖金"
  },
  {
    "path": "/gui/affinitylayout/children/upgradetitle/value",
    "op": "replace",
    "source": "After Upgrade",
    "value": "升级后"
  },
  {
    "path": "/gui/affinitylayout/children/upgradetext/value",
    "op": "replace",
    "source": "Stat Bonus",
    "value": "统计奖金"
  },
  {
    "path": "/gui/affinitylayout/children/weaknesstitle/value",
    "op": "replace",
    "source": "Weaknesses",
    "value": "弱点"
  },
  {
    "path": "/gui/affinitylayout/children/weaknesstext/value",
    "op": "replace",
    "source": "Stat Bonus",
    "value": "统计奖金"
  },
  {
    "path": "/gui/affinitylayout/children/aesthetictitle/value",
    "op": "replace",
    "source": "Aesthetics",
    "value": "美学"
  },
  {
    "path": "/gui/affinitylayout/children/aestheticstoggletext/value",
    "op": "replace",
    "source": "Active",
    "value": "主动的"
  },
  {
    "path": "/gui/affinitylayout/children/statscalingtitle/value",
    "op": "replace",
    "source": "Stat Bonus",
    "value": "统计奖金"
  },
  {
    "path": "/gui/affinitylayout/children/statscalingtext/value",
    "op": "replace",
    "source": "Stat Bonus",
    "value": "统计奖金"
  },
  {
    "path": "/gui/infolayout/children/display/value",
    "op": "replace",
    "source": "Stat:\n^red;Health Multiplier:^reset;\n^green;Energy Multiplier:\nEnergy Recharge Rate:\nEnergy Recharge Delay:^reset;\n^orange;Hunger Rate Deduction:^reset;\n^gray;Knockback Resistance:\nFall Damage Multiplier:\nShield Health Multiplier:^reset;\n^red;Bleed Chance:\nBleed Length:^reset;\n\n\nDamage Resistance:\n^gray;Physical:^reset;\n^green;Poison:^reset;\n^blue;Ice:^reset;\n^red;Fire:^reset;\n^yellow;Electric:^reset;\n^magenta;Nova:\n^black;Demonic:\n^yellow;Holy:\n^green;Radioactive (FU):^reset;\n^gray;Shadow (FU):^reset;\n^magenta;Cosmic (FU):^reset;",
    "value": "斯达："
  },
  {
    "path": "/gui/infolayout/children/displaystats/value",
    "op": "replace",
    "source": "Amount:\n\n            Bonus Health:\n\n            Bonus Energy:\n\n            Energy Recharge Rate:\n\n            Energy Recharge Delay:\n\n            Hunger:\n\n            Physical Resistance:\n\n            Poison Resistance:\n\n            Frost Resistance:\n\n            Fire Resistance:\n\n            Electric Resistance:\n\n            Knockback Resistance:\n\n            Fall Damage Multiplier:\n\n            Shield Health Multiplier:\n\n            Bleed Chance:\n\n            Bleed Length: ",
    "value": "数量："
  },
  {
    "path": "/gui/infolayout/children/displayFU/value",
    "op": "replace",
    "source": "Hazards:\n^red;Fire Status:\nLava:\nHeat [Extreme]:^reset;\n^blue;Ice Status:\nCold [Extreme]:\nBreathing:^reset;\n^green;Poison Status:\nRadiation [Extreme]:^reset;\n^yellow;Electric Status:^reset;\n^gray;Damage;^reset;",
    "value": "危害："
  },
  {
    "path": "/gui/infolayout/children/displaystatsFU/value",
    "op": "replace",
    "source": "Amount:\n            Radiation:\n            Shadow:\n            Cosmic:\n\n            Status:\n            EH:\n            EC:\n            ER:",
    "value": "数量："
  },
  {
    "path": "/gui/infolayout/children/displayWeapons/value",
    "op": "replace",
    "source": "Classic Mode Weapon Availability",
    "value": "经典模式武器可用性"
  },
  {
    "path": "/gui/professionlockedlayout/children/locked/value",
    "op": "replace",
    "source": "Locked until Level 10!",
    "value": "锁定到10级！"
  },
  {
    "path": "/gui/professionslayout/children/title/value",
    "op": "replace",
    "source": "Profession Select",
    "value": "职业选择"
  },
  {
    "path": "/gui/professionslayout/children/subtitle/value",
    "op": "replace",
    "source": "Professions are a valuable asset and can be selected for ^yellow;1000 Pixels.\n^red;You can quit your Profession at any time, but must pay again to re-select!",
    "value": "职业是一项宝贵的资产，可以选择^黄色；1000像素。"
  },
  {
    "path": "/gui/professionslayout/children/professiondescription/value",
    "op": "replace",
    "source": "Click a Profession's icon to see its benefits.",
    "value": "单击某个职业的图标以查看其好处。"
  },
  {
    "path": "/gui/professionslayout/children/medictitle/value",
    "op": "replace",
    "source": "Medic",
    "value": "医学博士"
  },
  {
    "path": "/gui/professionslayout/children/tamertitle/value",
    "op": "replace",
    "source": "Tamer",
    "value": "驯兽师"
  },
  {
    "path": "/gui/professionslayout/children/alchemisttitle/value",
    "op": "replace",
    "source": "Alchemist",
    "value": "炼金术士"
  },
  {
    "path": "/gui/professionslayout/children/bardtitle/value",
    "op": "replace",
    "source": "Bard",
    "value": "吟游诗人"
  },
  {
    "path": "/gui/professionslayout/children/cheftitle/value",
    "op": "replace",
    "source": "Chef",
    "value": "厨师"
  },
  {
    "path": "/gui/professionslayout/children/minertitle/value",
    "op": "replace",
    "source": "Miner",
    "value": "矿工"
  },
  {
    "path": "/gui/professionslayout/children/engineertitle/value",
    "op": "replace",
    "source": "Engineer",
    "value": "工程师"
  },
  {
    "path": "/gui/professionslayout/children/botanisttitle/value",
    "op": "replace",
    "source": "Botanist",
    "value": "植物学家"
  },
  {
    "path": "/gui/professionslayout/children/jewelertitle/value",
    "op": "replace",
    "source": "Jeweler",
    "value": "珠宝商"
  },
  {
    "path": "/gui/professionslayout/children/smithtitle/value",
    "op": "replace",
    "source": "Smith",
    "value": "史密斯"
  },
  {
    "path": "/gui/professionslayout/children/pixelamount/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/professionlayout/children/proftitle/value",
    "op": "replace",
    "source": "No Profession Yet",
    "value": "还没有职业"
  },
  {
    "path": "/gui/professionlayout/children/classictitle/value",
    "op": "replace",
    "source": "Classic Mode",
    "value": "经典模式"
  },
  {
    "path": "/gui/professionlayout/children/classictext/value",
    "op": "replace",
    "source": "Classic Mode",
    "value": "经典模式"
  },
  {
    "path": "/gui/professionlayout/children/benefittitle/value",
    "op": "replace",
    "source": "Bonuses",
    "value": "奖金"
  },
  {
    "path": "/gui/professionlayout/children/benefittext/value",
    "op": "replace",
    "source": "Benefit list",
    "value": "福利清单"
  },
  {
    "path": "/gui/professionlayout/children/scalingtitle/value",
    "op": "replace",
    "source": "Stat Scaling",
    "value": "统计缩放"
  },
  {
    "path": "/gui/professionlayout/children/scalingtext/value",
    "op": "replace",
    "source": "Scaling list",
    "value": "比例表"
  },
  {
    "path": "/gui/professionlayout/children/passivetitle/value",
    "op": "replace",
    "source": "Active Ability",
    "value": "主动能力"
  },
  {
    "path": "/gui/professionlayout/children/passivetext/value",
    "op": "replace",
    "source": "Passive Text",
    "value": "被动文本"
  },
  {
    "path": "/gui/professionlayout/children/passiveactive/value",
    "op": "replace",
    "source": "Inactive",
    "value": "不活动的"
  },
  {
    "path": "/gui/professionlayout/children/craftingtitle/value",
    "op": "replace",
    "source": "Crafting Skill",
    "value": "制作技巧"
  },
  {
    "path": "/gui/professionlayout/children/craftingtext/value",
    "op": "replace",
    "source": "Crafting",
    "value": "手工制作"
  },
  {
    "path": "/gui/professionlayout/children/uniquetitle/value",
    "op": "replace",
    "source": "Unique Ability",
    "value": "独特能力"
  },
  {
    "path": "/gui/professionlayout/children/uniquetext/value",
    "op": "replace",
    "source": "Unique List",
    "value": "唯一列表"
  },
  {
    "path": "/gui/specializationlockedlayout/children/locked/value",
    "op": "replace",
    "source": "Unlocked at Level 35!\nClass Required!",
    "value": "在35级解锁！"
  },
  {
    "path": "/gui/specializationslayout/children/title/value",
    "op": "replace",
    "source": "Specialization Select",
    "value": "专业化选择"
  },
  {
    "path": "/gui/specializationslayout/children/subtitle/value",
    "op": "replace",
    "source": "Specializations can be unlocked by accomplishing certain tasks.\nUse the arrows to navigate through available Specializations.",
    "value": "通过完成某些任务，可以解锁专业化。"
  },
  {
    "path": "/gui/specializationslayout/children/spectitle/value",
    "op": "replace",
    "source": "Specialization Title",
    "value": "专业名称"
  },
  {
    "path": "/gui/specializationslayout/children/desctitle/value",
    "op": "replace",
    "source": "Description",
    "value": "描述"
  },
  {
    "path": "/gui/specializationslayout/children/desctext/value",
    "op": "replace",
    "source": "Description",
    "value": "描述"
  },
  {
    "path": "/gui/specializationslayout/children/weapontitle/value",
    "op": "replace",
    "source": "Weapon & Tech",
    "value": "武器与技术"
  },
  {
    "path": "/gui/specializationslayout/children/weapontext/value",
    "op": "replace",
    "source": "Weapon",
    "value": "武器"
  },
  {
    "path": "/gui/specializationslayout/children/loretitle/value",
    "op": "replace",
    "source": "Lore",
    "value": "学识"
  },
  {
    "path": "/gui/specializationslayout/children/loretext/value",
    "op": "replace",
    "source": "Unlocked Via",
    "value": "解锁通路"
  },
  {
    "path": "/gui/specializationslayout/children/unlocktext/value",
    "op": "replace",
    "source": "Unlocked Via",
    "value": "解锁通路"
  },
  {
    "path": "/gui/specializationslayout/children/locked/value",
    "op": "replace",
    "source": "Find and use a Specialization Scroll!",
    "value": "找到并使用专业化卷轴！"
  },
  {
    "path": "/gui/specializationlayout/children/spectitle/value",
    "op": "replace",
    "source": "No Specialization Yet",
    "value": "还没有专门化"
  },
  {
    "path": "/gui/specializationlayout/children/classictitle/value",
    "op": "replace",
    "source": "Classic Mode",
    "value": "经典模式"
  },
  {
    "path": "/gui/specializationlayout/children/classictext/value",
    "op": "replace",
    "source": "Classic Mode",
    "value": "经典模式"
  },
  {
    "path": "/gui/specializationlayout/children/benefittitle/value",
    "op": "replace",
    "source": "Bonuses",
    "value": "奖金"
  },
  {
    "path": "/gui/specializationlayout/children/benefittext/value",
    "op": "replace",
    "source": "Benefit list",
    "value": "福利清单"
  },
  {
    "path": "/gui/specializationlayout/children/detrimenttitle/value",
    "op": "replace",
    "source": "Penalties",
    "value": "刑罚"
  },
  {
    "path": "/gui/specializationlayout/children/detrimenttext/value",
    "op": "replace",
    "source": "Detriment list",
    "value": "有害名单"
  },
  {
    "path": "/gui/specializationlayout/children/effecttext/value",
    "op": "replace",
    "source": "Ability Text Goes Here",
    "value": "此处显示能力文本"
  },
  {
    "path": "/gui/specializationlayout/children/statscalingtitle/value",
    "op": "replace",
    "source": "Stat Scaling",
    "value": "统计缩放"
  },
  {
    "path": "/gui/specializationlayout/children/statscalingtext/value",
    "op": "replace",
    "source": "Stat Scaling",
    "value": "统计缩放"
  },
  {
    "path": "/gui/specializationlayout/children/specweaponicontitle/value",
    "op": "replace",
    "source": "Weapon",
    "value": "武器"
  },
  {
    "path": "/gui/specializationlayout/children/specweapontitle/value",
    "op": "replace",
    "source": "Weapon Title",
    "value": "武器标题"
  },
  {
    "path": "/gui/specializationlayout/children/specweapontext/value",
    "op": "replace",
    "source": "...",
    "value": "…"
  },
  {
    "path": "/gui/specializationlayout/children/techtitle/value",
    "op": "replace",
    "source": "Skill",
    "value": "技能"
  },
  {
    "path": "/gui/specializationlayout/children/techname/value",
    "op": "replace",
    "source": "Skill Title",
    "value": "技术职称"
  },
  {
    "path": "/gui/specializationlayout/children/techtype/value",
    "op": "replace",
    "source": "Tech Type",
    "value": "技术型"
  },
  {
    "path": "/gui/specializationlayout/children/techtext/value",
    "op": "replace",
    "source": "Skill description",
    "value": "技能描述"
  },
  {
    "path": "/gui/specializationlayout/children/unlockedtext/value",
    "op": "replace",
    "source": "Unlocked",
    "value": "解锁"
  },
  {
    "path": "/gui/masterylockedlayout/children/locked/value",
    "op": "replace",
    "source": "Locked until Level 50!",
    "value": "锁定到50级！"
  },
  {
    "path": "/gui/masterylayout/children/masterytitle/value",
    "op": "replace",
    "source": "Mastery",
    "value": "精通"
  },
  {
    "path": "/gui/masterylayout/children/masterytotal/value",
    "op": "replace",
    "source": "Total:",
    "value": "总数："
  },
  {
    "path": "/gui/masterylayout/children/masterypoints/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  },
  {
    "path": "/gui/masterylayout/children/xpovertitle/value",
    "op": "replace",
    "source": "Extra XP:",
    "value": "额外XP："
  },
  {
    "path": "/gui/masterylayout/children/xpover/value",
    "op": "replace",
    "source": "250000",
    "value": "二十五万"
  },
  {
    "path": "/gui/masterylayout/children/refinetext/value",
    "op": "replace",
    "source": "\n\nRefine your extra Experience into a powerful substance.\n^red;Every 10000 Experience refines into 1 Mastery!^reset;",
    "value": "把你的额外经验提炼成一种强大的物质。"
  },
  {
    "path": "/gui/masterylayout/children/prestigetitle/value",
    "op": "replace",
    "source": "Prestige",
    "value": "声望"
  },
  {
    "path": "/gui/masterylayout/children/prestigetext/value",
    "op": "replace",
    "source": "Reset progress. However,\n^green;Class Skills and the Mastery Tab remain unlocked, and current Specialization Progress\nis not removed.\n^red;Costs 3 Mastery Points.^reset;",
    "value": "重置进度。然而，"
  },
  {
    "path": "/gui/masterylayout/children/shoptitle/value",
    "op": "replace",
    "source": "Master's Desk",
    "value": "硕士桌"
  },
  {
    "path": "/gui/masterylayout/children/shoptext/value",
    "op": "replace",
    "source": "Create a Master's Desk, which provides the ability to create Scrolls, Items, and Class related Upgrades. Place it down and have fun!.\n^red;Costs 5 Mastery Points.^reset;",
    "value": "创建一个主控桌面，它提供创建滚动、项目和类相关升级的功能。放下它，玩得开心！."
  },
  {
    "path": "/gui/masterylayout/children/challengetitle/value",
    "op": "replace",
    "source": "Challenges",
    "value": "挑战"
  },
  {
    "path": "/gui/masterylayout/children/challengetext/value",
    "op": "replace",
    "source": "Test your might by completing challenges! Three randomly generated tasks will appear below, each with increasing difficulty.\nOnce completed, press the 'Accept' button to grab your rewards.\n^red;More Challenges will be added as the mod is updated!^reset;",
    "value": "通过完成挑战来测试你的能力！下面将出现三个随机生成的任务，每个任务的难度越来越大。"
  },
  {
    "path": "/gui/masterylayout/children/challenge1/value",
    "op": "replace",
    "source": "Challenge 1",
    "value": "挑战1"
  },
  {
    "path": "/gui/masterylayout/children/challenge2/value",
    "op": "replace",
    "source": "Challenge 2",
    "value": "挑战2"
  },
  {
    "path": "/gui/masterylayout/children/challenge3/value",
    "op": "replace",
    "source": "Challenge 3",
    "value": "挑战3"
  },
  {
    "path": "/gui/masterylayout/children/challenge1progress/value",
    "op": "replace",
    "source": "0 / 0",
    "value": "0/0"
  },
  {
    "path": "/gui/masterylayout/children/challenge2progress/value",
    "op": "replace",
    "source": "0 / 0",
    "value": "0/0"
  },
  {
    "path": "/gui/masterylayout/children/challenge3progress/value",
    "op": "replace",
    "source": "0 / 0",
    "value": "0/0"
  },
  {
    "path": "/gui/upgradelayout/children/upgradetitle/value",
    "op": "replace",
    "source": "Upgrades",
    "value": "升级"
  },
  {
    "path": "/gui/upgradelayout/children/upgradetext/value",
    "op": "replace",
    "source": "Keep an eye out for Upgrade Chips, which can drop from monsters,\nor be purchased using Mastery via the Mastery Shop.\nWhen you use an Upgrade Chip (like a consumable),\nit will be equipped here. You can use this Tab to read exact details,\nas well as unequip Upgrade Chips.\n^red;More Upgrades will be added in future updates.^reset;",
    "value": "注意升级芯片，它可以从怪物身上掉下来，"
  },
  {
    "path": "/gui/upgradelayout/children/techtitle/value",
    "op": "replace",
    "source": "Tech",
    "value": "技术"
  },
  {
    "path": "/gui/upgradelayout/children/weapontitle/value",
    "op": "replace",
    "source": "Weapon",
    "value": "武器"
  },
  {
    "path": "/gui/upgradelayout/children/affinitytitle/value",
    "op": "replace",
    "source": "Affinity",
    "value": "密切关系"
  },
  {
    "path": "/gui/upgradelayout/children/generaltitle/value",
    "op": "replace",
    "source": "General",
    "value": "一般"
  },
  {
    "path": "/gui/upgradelayout/children/techname/value",
    "op": "replace",
    "source": "UNUSED",
    "value": "未使用的"
  },
  {
    "path": "/gui/upgradelayout/children/weaponname/value",
    "op": "replace",
    "source": "UNUSED",
    "value": "未使用的"
  },
  {
    "path": "/gui/upgradelayout/children/affinityname/value",
    "op": "replace",
    "source": "UNUSED",
    "value": "未使用的"
  },
  {
    "path": "/gui/upgradelayout/children/generalname/value",
    "op": "replace",
    "source": "UNUSED",
    "value": "未使用的"
  },
  {
    "path": "/gui/upgradelayout/children/techtext/value",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/gui/upgradelayout/children/weapontext/value",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/gui/upgradelayout/children/affinitytext/value",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/gui/upgradelayout/children/generaltext/value",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/gui/skillslayout/children/locked/value",
    "op": "replace",
    "source": "Skills Tab. Currently Unavailable!",
    "value": "技能选项卡。目前不可用！"
  },
  {
    "path": "/gui/lorelayout/children/changelogbutton/caption",
    "op": "replace",
    "source": "Changelog",
    "value": "长乐阁"
  },
  {
    "path": "/gui/lorelayout/children/lorebutton/caption",
    "op": "replace",
    "source": "Lore",
    "value": "学识"
  },
  {
    "path": "/gui/lorelayout/children/title/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/gui/lorelayout/children/scrollArea/children/list/schema/listTemplate/title/value",
    "op": "replace",
    "source": "Title",
    "value": "书名"
  },
  {
    "path": "/gui/lorelayout/children/scrollArea/children/list/schema/listTemplate/subtext/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/gui/lorelayout/children/scrollArea/children/text/value",
    "op": "replace",
    "source": "-",
    "value": "-"
  }
]