[
  {
    "path": "/title",
    "op": "replace",
    "source": "Necromancer",
    "value": "亡灵巫师"
  },
  {
    "path": "/ability/text",
    "op": "replace",
    "source": "There is a 33.3% chance that enemies killed with a Dagger, Scythe, or Demonic Magic will revive and help you in battle for ten seconds.",
    "value": "用匕首、镰刀或恶魔魔法杀死的敌人有33.3%的几率在战斗中复活并帮助你10秒钟。"
  },
  {
    "path": "/ability/name",
    "op": "replace",
    "source": "ivrpgraiseundead",
    "value": "静脉曲张"
  },
  {
    "path": "/tech/title",
    "op": "replace",
    "source": "Reap",
    "value": "收获"
  },
  {
    "path": "/tech/name",
    "op": "replace",
    "source": "ivrpgreap",
    "value": "IVRPGRAP"
  },
  {
    "path": "/tech/text",
    "op": "replace",
    "source": "Press [F] to sacrifice 10 Health and unleash demonic magic that kills enemies with Current Health less than (Intelligence/3+15)% of their Max Health. They then burst into a mist that heals allies, yet causes enemies to deteriorate. Hold [Shift] before pressing [F] to summon up to six Bone Pteropods for 10 seconds, if possible: amount scales with Intelligence and enemies killed, and their Power, Armor, and Health is set to your own.",
    "value": "按[f]以牺牲10个生命值，释放恶魔魔法，杀死当前生命值低于最大生命值（智力/3+15%）的敌人。然后他们冲出一团雾，治愈同盟国，却使敌人恶化。按住[SHIFT]键，然后按[F]键召唤6只骨翼手足类动物，持续10秒，如果可能的话：有智力和敌人被杀死的数量尺度，他们的力量、盔甲和健康都被设定为你自己的。"
  },
  {
    "path": "/weapon/title",
    "op": "replace",
    "source": "For Us All",
    "value": "为我们大家"
  }
]