[
  {
    "path": "/title",
    "op": "replace",
    "source": "Saboteur",
    "value": "破坏者"
  },
  {
    "path": "/ability/text",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/ability/name",
    "op": "replace",
    "source": "ivrpgAmbidextrous",
    "value": "常春藤提取物"
  },
  {
    "path": "/tech/title",
    "op": "replace",
    "source": "Shrapnel Mine",
    "value": "霰弹地雷"
  },
  {
    "path": "/tech/name",
    "op": "replace",
    "source": "ivrpgshrapnelmine",
    "value": "静脉加压素"
  },
  {
    "path": "/tech/text",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/weapon/title",
    "op": "replace",
    "source": "Sarin",
    "value": "沙林"
  }
]