[
  {
    "path": "/title",
    "op": "replace",
    "source": "Thief",
    "value": "小偷"
  },
  {
    "path": "/ability/text",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/ability/name",
    "op": "replace",
    "source": "ivrpgSleight of Hand",
    "value": "手的重量"
  },
  {
    "path": "/tech/title",
    "op": "replace",
    "source": "Greedy Purge",
    "value": "贪心清除"
  },
  {
    "path": "/tech/name",
    "op": "replace",
    "source": "ivrpggreedypurge",
    "value": "IVRPG烟气净化"
  },
  {
    "path": "/tech/text",
    "op": "replace",
    "source": "-",
    "value": "-"
  },
  {
    "path": "/weapon/title",
    "op": "replace",
    "source": "Siphon Prime",
    "value": "虹吸素数"
  }
]