[
  {
    "path": "/paneLayout/windowtitle/title",
    "op": "replace",
    "source": " Master's Desk",
    "value": "硕士桌"
  },
  {
    "path": "/paneLayout/windowtitle/subtitle",
    "op": "replace",
    "source": " ^#b9b5b2;For making things that require incredible skill and lots of experience.",
    "value": "^#b9b5b2；制造需要难以置信的技能和丰富经验的东西。"
  },
  {
    "path": "/paneLayout/lblSchematics/value",
    "op": "replace",
    "source": "^#b9b5b2;MASTER BLUEPRINT",
    "value": "^#b9b5b2；主蓝图"
  },
  {
    "path": "/paneLayout/lblProducttitle/value",
    "op": "replace",
    "source": "^#b9b5b2;MASTER PRODUCT",
    "value": "^#B9B5B2；主产品"
  },
  {
    "path": "/paneLayout/btnCraft/caption",
    "op": "replace",
    "source": "Manifest",
    "value": "显示"
  },
  {
    "path": "/paneLayout/btnStopCraft/caption",
    "op": "replace",
    "source": "Stop",
    "value": "停止"
  },
  {
    "path": "/paneLayout/lblProduct/value",
    "op": "replace",
    "source": "MASTERY AVAILABLE",
    "value": "掌握"
  },
  {
    "path": "/paneLayout/scrollArea/children/itemList/schema/listTemplate/itemName/value",
    "op": "replace",
    "source": "Replace Me",
    "value": "代替我"
  },
  {
    "path": "/paneLayout/scrollArea/children/itemList/schema/listTemplate/priceLabel/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  }
]