[
  {
    "path": "/paneLayout/windowtitle/title",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/windowtitle/subtitle",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/lblSchematics/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/lblProducttitle/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/btnCraft/caption",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/btnStopCraft/caption",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/lblProduct/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/scrollArea/children/itemList/schema/listTemplate/itemName/value",
    "op": "replace",
    "source": "",
    "value": ""
  },
  {
    "path": "/paneLayout/scrollArea/children/itemList/schema/listTemplate/priceLabel/value",
    "op": "replace",
    "source": "0",
    "value": "零"
  }
]