[
  {
    "path": "/medic/text",
    "op": "replace",
    "source": "The Medic supports their allies with passive healing. It provides access to cheap, craftable medical supplies, such as bandages and salve.",
    "value": "医生用被动治疗来支持他们的盟友。它提供了廉价的、可加工的医疗用品，如绷带和药膏。"
  },
  {
    "path": "/tamer/text",
    "op": "replace",
    "source": "The Tamer easily tames monsters and heals tamed creatures on the go. It provides access to cheap, craftable Capture Pods, as well as Advanced Capture Pods.",
    "value": "驯兽师很容易驯服怪物，并随时随地治愈被驯服的生物。它提供了对廉价、可制造的捕获吊舱以及高级捕获吊舱的访问。"
  },
  {
    "path": "/alchemist/text",
    "op": "replace",
    "source": "The Alchemist provides allies with unique statuses and inflicts dangerous ailments on enemies. It provides access to craftable, throwable potions.",
    "value": "炼金术士为盟友提供独特的地位，并对敌人造成危险的疾病。它提供了使用可加工、可丢弃药剂的途径。"
  },
  {
    "path": "/bard/text",
    "op": "replace",
    "source": "The Bard plays music to support allies with increased resistance. It provides access to craftable instruments.",
    "value": "吟游诗人演奏音乐以增强抵抗力来支持盟友。它提供了使用可加工仪器的途径。"
  },
  {
    "path": "/chef/text",
    "op": "replace",
    "source": "The Chef cooks wonderful delicacies to keep hunger satiated and give various bonuses. It provides access to cheap, craftable unique foods.",
    "value": "厨师烹制美味佳肴，以满足饥饿，并给予各种奖励。它提供了获取廉价、工艺独特的食物的途径。"
  },
  {
    "path": "/miner/text",
    "op": "replace",
    "source": "The Miner digs deep without fear, lighting up the darkness to find ores. It provides access to better ore conversion, enabling better resource usage.",
    "value": "矿工毫无畏惧地深挖，照亮黑暗寻找矿石。它提供了更好的矿石转换，从而实现更好的资源利用率。"
  },
  {
    "path": "/engineer/text",
    "op": "replace",
    "source": "The Engineer tinkers to create awesome mechanisms and buildings. It provides access to cheap, craftable electronics and scientific components.",
    "value": "工程师们在修补机器和建筑。它提供了获取廉价、可加工的电子产品和科学组件的途径。"
  },
  {
    "path": "/botanist/text",
    "op": "replace",
    "source": "The Botanist grows herbs and gently tends to fields with great efficiency. It provides access to craftable seeds and better farming capabilities.",
    "value": "植物学家种植草本植物，并以很高的效率轻轻地照料田地。它提供了获得可加工种子和更好的耕作能力的途径。"
  },
  {
    "path": "/jeweler/text",
    "op": "replace",
    "source": "The Jeweler forms beautiful accessories that augment players with unique effects. It provides access to craftable accessories that augment armor.",
    "value": "该珠宝商形成了美丽的配件，以独特的效果增加玩家。它提供了增加装甲的可加工附件。"
  },
  {
    "path": "/smith/text",
    "op": "replace",
    "source": "The Smith toils away to make dangerous weapons and strong armor. It provides access to craftable melee weapons and means to upgrade all weapons.",
    "value": "铁匠辛辛苦苦地制造危险的武器和坚固的盔甲。它提供了使用可制造近战武器的途径和升级所有武器的手段。"
  },
  {
    "path": "/default/text",
    "op": "replace",
    "source": "Click a Profession's icon to see its benefits.",
    "value": "单击某个职业的图标以查看其好处。"
  }
]